{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<header>
    <div class="header-left">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo-news.png' %}" alt="Логотип" class="logo">
        </a>
    </div>

    <div class="header-center">
            <a href="{% url 'home'%}"><h1>Новости</h1></a>
    </div>

    <div class="header-right">
        {% if user.is_authenticated %}
        Привет, {{ user.username }} |
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="logout-button">Выйти</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Вход</a>
        <a href="{% url 'register' %}">Регистрация</a>
        {% endif %}

    </div>
</header>


<main class="container">


    <aside class="categories">
        <h2>Категории</h2>
        <ul>
            <p>
                <a href="{% url 'home' %}"
                   class="{% if not current_category %}active{% endif %}">
                    Все новости
                </a>
            </p>

            {% for cat in categories %}
            <p>
                <a href="{% url 'category_page' cat.id %}"
                   class="{% if current_category and current_category.id == cat.id %}active{% endif %}">
                    {{ cat.category_name }}
                </a>
            </p>
            {% endfor %}
        </ul>
    </aside>

    <section class="news">
        {% if current_category %}
        <h2>Новости: {{ current_category.category_name }}</h2>
        {% else %}
        <h2>Все новости</h2>
        {% endif %}

        {% if news %}
        {% for item in news %}
        <article class="news-card">
            <h3>
                <a href="{% url 'news_page' item.id %}">{{ item.title }}</a>
            </h3>
            <p>{{ item.content|slice:":200" }}...</p>
        </article>
        {% endfor %}
        {% else %}
        <p>Новостей пока нет.</p>
        {% endif %}
    </section>

</main>

<footer>
    <p>© 2025 Новостной сайт</p>
</footer>

</body>
</html>


