body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4   ;

}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

.news-card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.news-card h2 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
}
