body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4   ;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #222;
    color: white;
}

header .header-left {
    flex: 1;
}

header .header-center {
    flex: 1;
    text-align: center;
}
header .header-center a{
    text-decoration: none ;
    color: white;
}


header .header-right {
    flex: 1;
    text-align: right;
}

header .header-right a {
    margin-left: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.logo{
    width:150px;
    height:auto;

}
main {
    max-width: 800px;
    margin: 20px auto;
}

.news-card {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.news-card h2 {
    margin-top: 0;
}

header .header-right a,
header .header-right .logout-button {
    background-color: #bd1621;
    color: white;
    padding: 8px 14px;
    border-radius: 3px;
    text-decoration: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-left: 10px;
}

header .header-right .logout-button {
    background-color: #e74c3c;
}

header .header-right a:hover,
header .header-right .logout-button:hover {
    background-color: #d9534f;
}

.categories ul {
    list-style-type: none;
    padding: 0;
}

.categories p {
    margin: 0 0 8px 0;
}

.categories a {
    display: inline-block;
    width: 100%;
    padding: 8px 10px;
    text-decoration: none;
    background-color: #fff;
    color: #222;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #ddd;
    transition: 0.2s ease;
}


.categories a.active {
    background-color: #222;
    color: #fff;
    border-color: #222;
}


.categories a:hover {
    background-color: #222;
    color: #fff;
    border-color: #444;
    cursor: pointer;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
}


a.back-home {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #bd1621;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

a.back-home:hover {
    background-color: #fff;
    color:black;
    cursor: pointer;
}
